In [1]:
import pandas as pd
import random
import numpy as np

import ast
# Set the display option to show all rows
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_colwidth', None)

In [2]:
# Read the Excel workbook into a DataFrame
df = pd.read_excel("./results/PP_reformatted_aylien_business_5k_responses.xlsx")

In [3]:
print(len(df))
df.head()

5000

,Unnamed: 0,article_id,title,published_at,source,body,prompt,token_count,responses,responses_PP
0,0,5709294677,: Nike stock jumps to lead the Dow's premarket...,02-June-2023,Finanzen.ch,Nike 96.41 CHF -1.99% Charts News Analysen...,For the main organisation discussed in this ar...,732,org: Nike Inc.\ncountry: NA\nstate: NA\ncity: ...,"{'org': 'Nike Inc.', 'country': '', 'state': '..."
1,1,5709292390,Renault Customers Planning Criminal Complaint ...,02-June-2023,MarketScreener,Financials EUR USD GBP Sales 2023 50 468 M 54 ...,For the main organisation discussed in this ar...,833,org: Renault\ncountry: NA\nstate: NA\ncity: NA...,"{'org': 'Renault', 'country': '', 'state': '',..."
2,2,5709276868,Mersana Therapeutics Inc. (MRSN) last month vo...,02-June-2023,Newsdaemon.com,Search Search Search Search Sana Meer Ju...,For the main organisation discussed in this ar...,1720,org: Mersana Therapeutics Inc.\ncountry: NA\ns...,"{'org': 'Mersana Therapeutics Inc.', 'country'..."
3,3,5709269010,Mike Novogratz Says Crypto is Lackadaisical Ri...,02-June-2023,Crypto Potato,"Michael Novogratz, the founder and CEO of Gala...",For the main organisation discussed in this ar...,944,org: Galaxy Digital\ncountry: NA\nstate: NA\nc...,"{'org': 'Galaxy Digital', 'country': '', 'stat..."
4,4,5709271283,Another Soft Market Is Inevitable,02-June-2023,Carrier Management,New You can now listen to Carrier Management a...,For the main organisation discussed in this ar...,2092,org: RLI Corp.\ncountry: NA\nstate: NA\ncity: ...,"{'org': 'RLI Corp.', 'country': '', 'state': '..."

## 100 randomly selected rows

In [4]:
# Randomly select 100 rows from df
random_100 = df.sample(n=100, random_state=42)
print(len(random_100))

# export
random_100.to_excel('./results/aylien_responses_summary/random_100.xlsx')

100

## No responses / no orgs

In [5]:
# Filter the DataFrame based on the condition
no_orgs = df[df["responses"].isna()
                     | df["responses_PP"].str.contains("org':'',") 
                     | df["responses_PP"].str.contains("org': '',") 
                     |(df["responses"].str.strip().str.lower() == "na")]
# Print the length and head of the filtered DataFrame
print("Length:", len(no_orgs))
# no_orgs.head()

Length: 1730

In [6]:
# # Filter the DataFrame based on the condition
# no_orgs = df[df["responses"].isna()
#                      | df["responses"].str.contains("org: NA\n") 
#                      | df["responses"].str.contains("org:NA\n") 
#                      | df["responses"].str.contains("org: na\n") 
#                      | df["responses"].str.contains("org:na\n")
#                      | df["responses"].str.contains("org:\n")
#                      |(df["responses"].str.strip().str.lower() == "na")]
# # Print the length and head of the filtered DataFrame
# print("Length:", len(no_orgs))
# # no_orgs.head()

In [7]:
# Randomly select 10 rows from no_orgs
random_rows = no_orgs.sample(n=10, random_state=42)

# Print the randomly selected rows
random_rows

,Unnamed: 0,article_id,title,published_at,source,body,prompt,token_count,responses,responses_PP
1999,1999,5693902738,Precision Miniature Ball Screws Market: Enabli...,29-May-2023,OpenPR,Precision Miniature Ball Screws Market: Enabli...,For the main organisation discussed in this ar...,2263,org: NA,"{'org': '', 'article_id': 5693902738, 'source'..."
3504,3504,5679258973,Empty offices a challenge to smaller banks: Fitch,24-May-2023,Advisor.ca (Canada),"The review, carried out in cooperation with se...",For the main organisation discussed in this ar...,746,org: NA\ncountry: NA\nstate: NA\ncity: NA\nind...,"{'org': '', 'country': '', 'state': '', 'city'..."
2067,2067,5693470098,Key Reason Why Bitcoin Just Touched Highest Le...,29-May-2023,Upworthy,"Bitcoin surged to two-week high of $28,452, wh...",For the main organisation discussed in this ar...,529,org: NA\ncountry: NA\nstate: NA\ncity: NA\nind...,"{'org': '', 'country': '', 'state': '', 'city'..."
4792,4792,5669970254,Risk of Investing in Shiba Inu and Why Tradecu...,22-May-2023,CryptoDaily,Shiba Inu (SHIB) completely blew the crypto ma...,For the main organisation discussed in this ar...,1311,org: NA\n,"{'org': '', 'article_id': 5669970254, 'source'..."
3715,3715,5677984172,QRL: Leading The Charge Against Quantum Risk I...,24-May-2023,PR Inside,"CHEYENNE, WY/ ACCESSWIRE/ May 24, 2023/- Amids...",For the main organisation discussed in this ar...,490,NaN,"{'article_id': 5677984172, 'source': 'PR Inside'}"
2784,2784,5684681831,Australian shares post worst week since mid-Ma...,26-May-2023,Business Times,AUSTRALIAN shares inched higher on Friday (May...,For the main organisation discussed in this ar...,481,org: NA\ncountry: Australia\nstate: NA\ncity: ...,"{'org': '', 'country': 'Australia', 'state': '..."
85,85,5708641643,Sustainable Bioenergy Market 2023 Business Gro...,02-June-2023,Digital Journal,Discover the hidden treasures of the “ Sustain...,For the main organisation discussed in this ar...,2561,org: NA\n,"{'org': '', 'article_id': 5708641643, 'source'..."
2572,2572,5686719070,GOP conservatives fume over possible debt ceil...,26-May-2023,Ground News,Hard-line conservatives are fuming over the de...,For the main organisation discussed in this ar...,547,org: NA\ncountry: NA\nstate: NA\ncity: NA\nind...,"{'org': '', 'country': '', 'state': '', 'city'..."
2868,2868,5684004542,Internal Server Error .,26-May-2023,Ground News,NDTV Lean Left Mixed Factuality Independent: I...,For the main organisation discussed in this ar...,543,org: NA\ncountry: NA\nstate: NA\ncity: NA\nind...,"{'org': '', 'country': '', 'state': '', 'city'..."
2365,2365,5689309760,PCs Recognize Paramedics Service Week,27-May-2023,VOCM,The official opposition is recognizing the wor...,For the main organisation discussed in this ar...,575,org: NA,"{'org': '', 'article_id': 5689309760, 'source'..."

## Contains orgs (opposite of above)

In [8]:
# Filter the DataFrame to get the opposite of no_orgs
# and check for semicolon in 'responses' or 'article_id' in 'no_orgs'
contains_orgs = df[~(df["article_id"].isin(no_orgs["article_id"]))]
contains_orgs = contains_orgs[~(contains_orgs["responses"].str.contains(r"org:[^;\n]*;"))]

# Print the length and head of the contains_orgs DataFrame
print("Length:", len(contains_orgs))
contains_orgs.head()

Length: 3199

,Unnamed: 0,article_id,title,published_at,source,body,prompt,token_count,responses,responses_PP
0,0,5709294677,: Nike stock jumps to lead the Dow's premarket...,02-June-2023,Finanzen.ch,Nike 96.41 CHF -1.99% Charts News Analysen...,For the main organisation discussed in this ar...,732,org: Nike Inc.\ncountry: NA\nstate: NA\ncity: ...,"{'org': 'Nike Inc.', 'country': '', 'state': '..."
1,1,5709292390,Renault Customers Planning Criminal Complaint ...,02-June-2023,MarketScreener,Financials EUR USD GBP Sales 2023 50 468 M 54 ...,For the main organisation discussed in this ar...,833,org: Renault\ncountry: NA\nstate: NA\ncity: NA...,"{'org': 'Renault', 'country': '', 'state': '',..."
2,2,5709276868,Mersana Therapeutics Inc. (MRSN) last month vo...,02-June-2023,Newsdaemon.com,Search Search Search Search Sana Meer Ju...,For the main organisation discussed in this ar...,1720,org: Mersana Therapeutics Inc.\ncountry: NA\ns...,"{'org': 'Mersana Therapeutics Inc.', 'country'..."
3,3,5709269010,Mike Novogratz Says Crypto is Lackadaisical Ri...,02-June-2023,Crypto Potato,"Michael Novogratz, the founder and CEO of Gala...",For the main organisation discussed in this ar...,944,org: Galaxy Digital\ncountry: NA\nstate: NA\nc...,"{'org': 'Galaxy Digital', 'country': '', 'stat..."
4,4,5709271283,Another Soft Market Is Inevitable,02-June-2023,Carrier Management,New You can now listen to Carrier Management a...,For the main organisation discussed in this ar...,2092,org: RLI Corp.\ncountry: NA\nstate: NA\ncity: ...,"{'org': 'RLI Corp.', 'country': '', 'state': '..."

In [9]:
# # Filter the DataFrame to get the opposite of no_orgs
# # but also filter out where multiple orgs are detected (signified by ;)
# contains_orgs = df[~(df["responses"].isna() 
#                      | df["responses"].str.contains("org: NA\n") 
#                      | df["responses"].str.contains("org:NA\n") 
#                      | df["responses"].str.contains("org: na\n") 
#                      | df["responses"].str.contains("org:na\n")
#                      |(df["responses"].str.strip().str.lower() == "na")
#                      | df["responses"].str.contains(r"org:[^;\n]*;"))]

# # Print the length and head of the contains_orgs DataFrame
# print("Length:", len(contains_orgs))
# contains_orgs.head()

### Distribution of unique items
#### unique orgs

In [10]:
# Convert string representations to dictionaries
contains_orgs['responses_PP_ast'] = contains_orgs['responses_PP'].apply(ast.literal_eval)

# Extract 'org' values and count the unique organizations
org_counts = contains_orgs['responses_PP_ast'].apply(lambda x: x.get('org', np.nan)).dropna().value_counts()

# Create a DataFrame with 'ORG' and 'count' columns, excluding blank org values
org_dist = pd.DataFrame({'ORG': org_counts.index, 'count': org_counts.values})

# Remove leading and trailing whitespace from 'ORG' column
org_dist['ORG'] = org_dist['ORG'].str.strip()

# Filter out rows with empty 'ORG' values
org_dist = org_dist[org_dist['ORG'] != '']

# Write the DataFrame to an Excel file
org_dist.to_excel('./results/aylien_responses_summary/org_dist.xlsx', index=False)

print(len(org_dist))
org_dist.head()

2097

                      ORG  count
0     ARC Automotive Inc.     40
1  Waste Management, Inc.     39
2                  Target     32
3                Boozt AB     21
4            Avid Telecom     20

### all unique items

In [11]:
# Function to split values and count unique items separately
def count_unique_items(field):
    unique_items = contains_orgs['responses_PP_ast'].apply(lambda x: str(x.get(field)))
    unique_items = unique_items.dropna().str.split(';').explode().str.strip()
    unique_items_count = unique_items.nunique()
    return unique_items_count

# Fields for which you want to get the count of unique items
fields = ['org', 'country', 'state', 'city', 'industry', 'risks', 'items_sold', 'service_provided', 'business_relations', 'article_id', 'source']

# List to store item and count pairs
summary_list = []

# Iterate over the fields and get the count of unique items
for field in fields:
    unique_item_count = count_unique_items(field)
    summary_list.append((field, unique_item_count))

# Create a DataFrame from the summary list
summary_df = pd.DataFrame(summary_list, columns=['item', 'count'])

# Return the summary DataFrame
summary_df

                  item  count
0                  org   2097
1              country     88
2                state    107
3                 city    373
4             industry    879
5                risks   1219
6           items_sold   1040
7     service_provided   2129
8   business_relations   1430
9           article_id   3199
10              source   1151

## Longest responses

In [12]:
# Calculate the length of data in the 'responses' column
df['response_length'] = df['responses'].str.len()

# Get the top 10 longest responses
top_10_longest_responses = df.nlargest(10, 'response_length')

# Print the top 10 longest responses
print(len(top_10_longest_responses))
top_10_longest_responses.head()

# export
top_10_longest_responses.to_excel('./results/aylien_responses_summary/top_10_longest_responses.xlsx')

10

### Longset articles

In [13]:
# Calculate the length of data in the 'body' column
df['body_length'] = df['body'].str.len()

# Get the top 10 longest values in the 'body' column
top_10_longest_articles = df.nlargest(10, 'body_length')

# Print the top 10 longest responses
print(len(top_10_longest_articles))
top_10_longest_articles

# export
top_10_longest_articles.to_excel('./results/aylien_responses_summary/top_10_longest_articles.xlsx')

10

### Shortest articles

In [14]:
# Calculate the length of data in the 'body' column
df['body_length'] = df['body'].str.len()

# Get the indices of the top 10 shortest articles in ascending order
indices = df.nsmallest(10, 'body_length').index

# Retrieve the top 10 shortest articles using the sorted indices
top_10_shortest_articles = df.loc[indices]
top_10_shortest_articles

# export
top_10_shortest_articles.to_excel('./results/aylien_responses_summary/top_10_shortest_articles.xlsx')